@{
    ViewData["Title"] = "Cities Page";
}
@model IEnumerable<City>


<div class="text-center">
    <h1 class="display-4">List of Cities from API</h1>
    <div>City</div>
   @*<div>@Html.DropDownListFor(m => Model.ToList(), Model.ToList())</div>>*@
</div>
